@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: #DDDDDD;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    background-color: #FF9900;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

main{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

#containerExpense, #containerSavings, #containerResult, #containerRevenue{
    background-color: white;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 30px;
    color: #FF9900;
}

h3{
    font-size: 20px;
    color: #666666;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

label, span{
    font-size: 15px;
}

label{
    line-height: 21px;
}

#containerFixedExpenses, #containerCurrentExpenses, #containerOccasionalExpenses, #containerCalculRevenue, #containerCalculSavings,
#containerCalculExpense{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#labelFixedExpenses, #labelCurrentExpenses, #labelOccasionalExpenses, #inputFixedExpenses, #inputCurrentExpenses, #inputOccasionalExpenses,
#labelRevenue, #inputRevenue, #inputSavings, #divSavings, #divExpense, #ajoutInputDiv{
    display: flex;
    flex-direction: column;
    width: 45%;
}

#totalResultExpenses, #totalResultRevenue, #totalResultSavings, #result{
    display: flex;
    flex-direction: row;
    color: red;
    font-size: 20px;
    justify-content: center;
}

#result{
    color: green;
}

#totalExpenses, #totalSavings, #totalRevenue, #reset{
    background-color: red;
}

#reset{
    margin-left: 520px;
}

#resultBudget{
    background-color: green;
}

button{
    font-size: 18px;
    width: 9%;
    color: white;
    border-radius: 10px;
    margin-left: 490px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#ajoutInput1, #ajoutInput2{
    background-color: #FF9900;
}